* {
  list-style-type: none;
  transition: color 0.2s, background-color 0.2s;
}

body {
  font-family: Arial;
  margin: 0px;
  font-size: 18px;
}

.container {
  margin: 0 auto;
}

header,
nav,
footer {
  background-color: #29b960;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
}

header div {
  cursor: pointer;
}

header div:hover {
  color: rgb(230, 230, 230);
}

#start {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header {
  display: flex;
  align-items: center;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  gap: 20px;
}

nav div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: rgb(230, 230, 230);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  min-height: 15vh;
  padding: 20px;
}

section:nth-of-type(even) {
  background-color: rgb(214, 255, 214);
}

#home {
}

#sobre {
}

#servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicos-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 10px;
}

.servico {
  text-align: center;
  width: 100%;
  margin: 10px 0;
  background-color: lightblue;
  width: 90%;
  padding: 10px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 15px;
}

.servico:hover {
  border: 2px solid black;
  background-color: rgb(214, 255, 214);
}

.construction-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
  border: 2px solid black;
}

#projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projetos-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
  padding-block: 10px;
}

.projeto {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid transparent;
  cursor: pointer;
}

#contato {
}

#localizacao {
}

#faq {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0px;
}
ul > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* MAPA */
.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 400px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 400px;
}

.gmap_iframe {
  height: 400px !important;
}

@media (max-width: 900px) {
  #start {
    display: grid;
    grid-template-columns: 1fr;
  }
  nav {
    display: none;
  }

  .servicos-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }
}
