/* Reset padrão para todos os elementos */
* {
  list-style-type: none;
  transition: color 0.2s, background-color 0.4s;
}

/* Criar uma rolagem suave */
html {
  scroll-behavior: smooth;
}


/* Estilos para o corpo do documento */
body {
  font-family: Arial;
  margin: 0;
  font-size: 18px;
  color: black;
}

/* Estilos para o contêiner principal */
.container {
  margin: 0 auto;
}

/* Cabeçalho */
#header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 20vh;
  background-color: orange;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

#header.fixed {
  height: 10vh;
}

#header.fixed .logo p {
  display: none;
}

#header.fixed .logo h1 {
  font-size: 1.5em; /* Tamanho menor para o logotipo */
}


/* Rodapé */
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #29b960;
  padding: 20px;
}

/* Estilos para o logotipo */
.logo {
  display: flex;
  align-items: center;
  cursor: default;
}

/* Estilos de navegação */
nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  gap: 20px;
}

nav div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: rgb(230, 230, 230);
}

/* Estilos para as seções */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 15vh;
  padding: 20px;
}

/* Estilos para a seção Home */
#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 80vh;
  padding: 0;
  background-color: #29b960;
}

.home-sobre {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#home > img {
  align-self: center;
  justify-self: center;
  width: 90%;
  height: 85%;
  border-radius: 20px;
}

#home > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
}

#home > div > p {
  padding: 60px;
}

/* Estilos para a seção Sobre */
#sobre {
  background-color: orange;
}

/* Estilos para a seção Serviços */
#servicos {
  background-color: orange;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.servicos-title {
  padding-inline: 40px;
}

.servicos-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.servico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  border: 5px double black;
  padding: 10px;
  cursor: pointer;
  background-color: #29b960;
  position: relative;
  border-radius: 10px;
}

.servico:hover {
  border: 5px double black;
  background-color: orange;
}

.servico > img {
  position: absolute;
  bottom: 3px;
  right: 3px;
  height: 40px;
  width: 40px;
}

.construction-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
}

/* Estilos para a seção Projetos */
#projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #29b960;
}

.projetos-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
  padding-block: 10px;
}

.projeto {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}

.projeto > h3 {
  position: absolute;
  display: none;
}

.projeto:hover img {
  filter: opacity(0.2);
}

.projeto:hover h3 {
  display: flex;
}

/* Estilos para a seção Contato */
#contato {
  background-color: orange;
}

/* Estilos para a seção Localização */
#localizacao {
  height: fit-content;
  background-color: #29b960;
}

/* Estilos para a seção FAQ */
#faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: orange;
}

ul {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0;
}

ul > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Estilos para o mapa */
.mapouter {
  position: relative;
  text-align: right;
  width: 60%;
  height: 50vh;
  border: 2px solid black;
  border-radius: 30px;
  transition: height 1s, width 1s;
}

.mapouter:hover {
  height: 70vh;
  width: 80%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 100%;
}

.gmap_iframe {
  height: 100% !important;
  border-radius: 30px;
}

/* Estilos responsivos */
@media (max-width: 1600px) {
  .servicos-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1180px) {
  #servicos {
    display: flex;
    flex-direction: column;
  }
  
  .servicos-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 840px) {
  #servicos {
    display: flex;
    flex-direction: column;
  }

  .servicos-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .servico {
    height: 300px;
  }
}

@media (max-width: 900px) {
  #header {
    display: grid;
    grid-template-columns: 1fr;
  }
  nav {
    display: none;
  }

  #home {
    display: grid;
    grid-template-columns: 1fr;
  }

  #home > div {
    display: none;
  }

  #faq > ul {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
}
